<app-header></app-header>

<div class="body-content">
    <div class="row">
        <div class="col">
            <div class="card card-count">
                <div class="card-header">
                    User Count
                </div>
                <div class="card-body">
                    <h2>80000</h2>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-count">
                <div class="card-header">
                    Order Count
                </div>
                <div class="card-body">
                    <h2>80000</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card card-statistic">
                <div class="card-header">
                    User Statistics
                </div>
                <div class="card-body">
                    <h2>80000</h2>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-statistic">
                <div class="card-header">
                    Order Statistics
                </div>
                <div class="card-body">
                    <h2>80000</h2>
                </div>
            </div>
        </div>
    </div>
</div>